/* This code is only meant for previewing your Reflow design. */
.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

#primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 90%;
    background-color: rgb(0, 0, 0);
    border-width: 0px;
    border-style: solid;
}
#title {
    float: left;
    font-size: 5em;
    color: rgb(255, 255, 255);
    width: 81.17559009786989%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 7.94588370754174%;
    margin-top: 25px;
    clear: none;
    min-height: 91px;
    min-width: 0.5em;
    font-family: 'arial black';
}
body {
    background-color: rgb(0, 0, 0);
    font-size: 24;
}
#textInput {
    float: left;
    height: 39px;
    margin-left: 8.631220151699598%;
    margin-top: 18px;
    clear: both;
    width: 65.8039142241783%;
    background-color: rgb(255, 255, 255);
}
#textAddButton {
    float: left;
    height: 39px;
    margin-left: 2.398426818990542%;
    margin-top: 17px;
    clear: none;
    line-height: 69px;
    width: 12.58664668976496%;
    background-color: rgb(190, 190, 190);
}
#list {
    float: left;
    height: 418px;
    margin-left: 7.327426124560139%;
    margin-top: 25px;
    clear: both;
    width: 81.53779624369356%;
}
.item {
    float: left;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    clear: none;
    width: 48.4%;
    background-color: rgb(255, 0, 0);
    max-width: 48.4%;
    min-width: 0px;
    padding: 5px;
    padding-bottom: 10px;
}
.item a{
    color: white;
    font-weight: bold;
    float: right;
    font-size: 24px;
    position: absolute;
    right: 5px;
    top: 0px;
    cursor: pointer;
}
.item-content {
    float: left;
    font-size: 1em;
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin: 0px;
    clear: none;
    min-height: 1px;
    min-width: 0.5em;
}

@media only screen and (max-width: 950px) {

   .item {
        max-width: 48%;
        width: 48%;
        margin: 10px 0px 0px 10px;
        clear: none;
   }
   #title {
        font-size: 3.9em;
        height: auto;
        min-height: 71px;
   }
   #textInput {
        margin-top: 18px;
        margin-left: 8.47614180179343%;
        clear: both;
        width: 57.39125586581796%;
   }
   #textAddButton {
        margin-top: 16px;
        margin-left: 2.3803373135715282%;
        clear: none;
        width: 21.113785252985178%;
   }
   #list {
        margin-top: 15px;
        margin-left: 7.286716535798912%;
        clear: both;
   }
   #primaryContainer {
        width: 95%;
   }
}
@media only screen and (max-width: 700px) {

   .item {
        max-width: 47.8%;
        margin: 10px 0px 0px 10px;
        float: left;
        clear: none;
        width: 47.8%;
   }
   #primaryContainer {
        width: 100%;
   }
   #title {
        font-size: 3.5em;
   }
   #list {
        clear: none;
   }
   #textAddButton {
        margin-top: 16px;
        margin-left: 2.4809917355371898%;
        clear: none;
        width: 20.993388429752066%;
   }
   #textInput {
        width: 57.190082644628106%;
   }
}
@media only screen and (max-width: 600px) {

   .item {
        max-width: none;
        width: 100%;
        margin-left: 0px;
   }
   #list {
        margin-top: 11px;
        margin-left: 8.516831683168316%;
        clear: both;
        width: 85.2991452991453%;
   }
   #title {
        font-size: 2.9em;
        height: auto;
        min-height: 52px;
        width: 85.98461538461538%;
   }
   #textInput {
        margin-top: 12px;
        margin-left: 8.516831683168316%;
        clear: both;
        width: 57.31422924901186%;
   }
   #textAddButton {
        margin-top: 11px;
        margin-left: 2.3735177865612647%;
        clear: none;
        width: 25.642735042735044%;
   }
}
@media only screen and (max-width: 500px) {

   #title {
        font-size: 2.3em;
        height: auto;
        min-height: 43px;
        width: 85.98144329896907%;
   }
   #textInput {
        margin-top: 9px;
        margin-left: 8.644444444444444%;
        clear: both;
        width: 57.18069306930693%;
   }
   #textAddButton {
        margin-top: 8px;
        margin-left: 2.477722772277228%;
        clear: none;
        width: 25.77525773195876%;
   }
   #list {
        margin-top: 7px;
        margin-left: 8.644444444444444%;
        clear: both;
        width: 85.36288659793814%;
   }
}
@media only screen and (max-width: 400px) {

   #title {
        font-size: 2.2em;
        height: auto;
        margin-top: 25px;
        margin-left: 6.236363636363637%;
        clear: none;
        width: 87.53506493506494%;
   }
   #list {
        width: 86.28%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
        margin-top: 123px;
   }
   #textInput {
        margin-top: 9px;
        margin-left: 6.236363636363637%;
        clear: both;
        width: 59.74285714285714%;
   }
   #textAddButton {
        margin-top: 9px;
        margin-left: 2.3402597402597403%;
        clear: none;
        width: 25.457142857142856%;
   }
}
@media only screen and (max-width: 350px) {

   #title {
        font-size: 1.8em;
        height: auto;
        min-height: 36px;
   }
   #textInput {
        margin-top: 4px;
        margin-left: 6.379194630872484%;
        clear: both;
        width: 60.342372881355935%;
   }
   #textAddButton {
        margin-top: 4px;
        margin-left: 1.359322033898305%;
        clear: none;
        width: 25.427118644067797%;
   }
   #list {
        margin-top: 107px;
        clear: none;
   }
}
@media only screen and (max-width: 293px) {

   #textAddButton {
        clear: none;
        width: 86.28%;
        margin-top: 7px;
        margin-left: 6.379194630872484%;
        margin-right: auto;
        float: none;
   }
   #textInput {
        width: 86.28%;
        1margin-top: 76px;
        margin-left: 6.379194630872484%;
        clear: none;
        margin-right: auto;
        float: none;
   }
   #title {
        font-size: 1.4em;
        height: auto;
        min-height: 30px;
   }
   #list {
        margin-top: 3px;
        clear: none;
   }
}